.ResultForm {
    padding: 64px 84px;
    width: 539px;
}

@media (max-width: 585px) {
    .ResultForm {
        padding: 32px 16px;
        width: 328px;
    }
}
.resultBtn {
    width: 100%;
    background-color: var(--primary-light-6);
}
.description {
    text-align: center;
}
@media (max-width: 475px) {
    .extraPadding {
        padding: 64px 16px 56px;
    }
}
