.AuthContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 368px;
    align-items: center;
    margin-bottom: 110px;
}
.margin {
    margin-bottom: 0;
}
@media (max-width: 1024px) {
    .margin {
        margin-bottom: 0;
    }
}
@media (max-width: 575px) {
    .AuthContainer {
        gap: 32px;
        max-width: 298px;
        margin-bottom: 92px;
    }
    .margin {
        margin-bottom: 0;
    }
}

.logo {
    width: 309;
    height: 76;
}
@media (max-width: 470px) {
    .logo {
        width: 203px;
        height: 50px;
    }
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.gap {
    gap: 32px;
}
@media (max-width: 470px) {
    .gap {
        gap: 24px;
    }
}

.authCard {
    margin-top: 140px;
}

@media (max-width: 1024px) {
    .authCard {
        margin-top: 200px;
    }
}

@media (max-width: 575px) {
    .authCard {
        margin-top: 90px;
    }
}

.regCard {
    margin-top: 168px;
}

@media (max-width: 1024px) {
    .regCard {
        margin-top: 228px;
    }
}

@media (max-width: 575px) {
    .regCard {
        margin-top: 114px;
    }
}

.formCard {
    padding: var(--result-desktop-padding);
    height: fit-content;
}
@media (max-width: 575px) {
    .formCard {
        padding: var(--result-mobile-padding);
    }
}
