.Sidebar {
    box-shadow: 0 2px 8px 0 rgba(36, 36, 36, 0.15);
    background: var(--character-light-primary-inverse);
    position: relative;
}
@media (max-width: 575px) {
    .Sidebar {
        position: fixed;
        height: 100%;
        z-index: 1;
    }
}
.sidebarContent {
    color: var(--character-light-title-85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 5px;
}
@media (max-width: 575px) {
    .menu {
        padding-top: 10px;
        gap: 0;
    }
}
.exitMenu {
    display: flex;
    padding: 0;
}
.exitContainer {
    display: flex;
    flex-direction: column;

    height: 40px;
    justify-content: center;
}
.exitBtn {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-left: 14px;
}

@media (max-width: 575px) {
    .exitBtn {
        justify-content: center;
    }
}
.menuItem {
    color: var(--primary-light-9);
}

.logo {
    padding: 44px 17px 46px 29px;
}

.shortLogo {
    padding: 51px 15px 46px 19px;
}

.mobileLogo {
    width: 30px;
    padding: 8px 17px;
}

.mobileLogo > svg {
    width: 72px;
}
.link {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    padding: 12px;
    display: flex;
    gap: 10px;
}

.toggle {
    position: absolute;
    top: calc(50% - 33px);
    right: -20px;
    width: 20px;
    height: 66px;
    background-color: white;
    clip-path: polygon(0 0, 136% 12%, 136% 88%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgba(36, 36, 36, 0.15);
}
@media (max-width: 575px) {
    .toggle {
        top: 24px;
        width: 32px;
        height: 48px;
        right: -31px;
    }
}

.toggleBtn {
    border: none;
    background: none;
    cursor: pointer;
}
