.LoaderModal {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .LoaderModal {
        min-height: 1194px;
    }
}

@media (max-width: 575px) {
    .LoaderModal {
        min-height: 800px;
    }
}
