.AuthChangePassword {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
    text-align: start;
}
.help {
    font-size: 12px;
}
.btn {
    background-color: var(--primary-light-6);
}
